{% extends 'bootstrap/base.html' %}


{% block title %}Edit Selection{% endblock %}


{% include 'navbar.html' %}

{% block content %}

 <div class="jumbotron">
				<h3>Enter switch hostname to edit</h3>
				<p class="lead"></p>
        </div>

<div class="container">

{% with messages = get_flashed_messages() %}

{% if messages %}

<ul class="flashes">
    {% for message in messages %}
    <p style=  "color:#ff0000;">
    <li>{{ message}}</li>
    {% endfor %}

</ul>

{% endif %}

{% endwith %}


    </div>

    <form action = "{{ request.path }}" method = "post">


       <label for = "sysname">system name</label><br>
       <input type = "text" name = "sysname" placeholder = "system name" /><br>

       
       <input type = "submit" value = "Submit" />

    </form>


    <footer class="footer">
            <p>&copy; Wookieware 2016</p>
        </footer>

{% endblock %}
