/Events/HPE ETSS Feb 2016/DevOps Networking Model/.ipynb_checkpoints/4 Deploying Templates through your NMS-checkpoint.ipynb
/Events/HPE ETSS Feb 2016/DevOps Networking Model/.ipynb_checkpoints/1 Intro to Jinja2 Templating for Network Devices-checkpoint.ipynb
/Events/HPE ETSS Feb 2016/DevOps Networking Model/.ipynb_checkpoints/3 GIT and Jinja - Like Peanut butter and Pickles!-checkpoint.ipynb
/Events/HPE ETSS Feb 2016/DevOps Networking Model/.ipynb_checkpoints/2 Jinja2 - Working with YAML Files-checkpoint.ipynb
/Events/HPE ETSS Feb 2016/DevOps Networking Model/.ipynb_checkpoints/5 Implenting Idempotency in IMC-checkpoint.ipynb
/Events/HPE ETSS Feb 2016/DevOps Networking Model/.ipynb_checkpoints
*~
*.pyc
*.swp
*#
.metadata
.DS_Store
HPE RealTime Flask/.idea/.name

.idea/

.idea/encodings.xml

.idea/HPE RealTime Flask.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

.idea/workspace.xml
/HPE RealTime Flask copy/todo.txt
/HPE RealTime Flask copy/.idea
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

/HPE RealTime Flask/.idea
/HPE RealTime Flask/todo.txt
