

{% block navbar %}

<nav class="navbar navbar-inverse navbar-fixed-top ">
  <div class="container-fluid">

      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> </button>
      <a class="navbar-brand" href="#">DCN-API</a>
      </div>

      
        <ul class="nav navbar-nav navbar-right">
            <li><a href="help">Help with this App</a></li>
            <li><a href="about">About</a></li>
          </ul>
      </div>
  </div>
</nav>
{% endblock %}
