{% extends 'bootstrap/base.html' %}


{% block title %}Distributed Cloud Networking{% endblock %}


{% include 'navbar.html' %}

{% block content %}

<h3> Auto Domain Deploy</h3>

<div class="container">

{% with messages = get_flashed_messages() %}

{% if messages %}

<ul class="flashes">
    {% for message in messages %}
    <p style=  "color:#ff0000;">
    <li>{{ message}}</li>
    {% endfor %}

</ul>

{% endif %}

{% endwith %}


    </div>

<div>
  <h3> Enter New Tenant Information </h3>
  <form action = "/build_tenant" method = "post">

    <hr>
    <p>Tenant Name: <input type=text  id="dcnTenant" class="form-control" placeholder="New Tenant"  name="enterprise"></p>
    <p>Domain: <input type=text  id="dcnDomain" class="form-control" placeholder="Domina"  name="domain"></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add New Tenant</button>
    <br>

  </form>
</div>


    <footer class="footer">
            <p>&copy; Wookieware 2016</p>
        </footer>

{% endblock %}
