{% extends 'bootstrap/base.html' %}


{% block title %}BigSwitch Cloud Fabric SDN{% endblock %}


{% include 'navbar.html' %}

{% block content %}

<div class="container">
  <h3>Add New Tenant</h3>

{% with messages = get_flashed_messages() %}

{% if messages %}

<ul class="flashes">
    {% for message in messages %}
    <p style=  "color:#ff0000;">
    <li>{{ message}}</li>
    {% endfor %}

</ul>

{% endif %}

{% endwith %}

<div>
  <form action = "/add_int2pg" method = "post">
      <h3>Add New Interface</h3>

    <hr>
    <p>Port Group Name: <input type=text  id="bsnPortgroup" class="form-control" placeholder="Port Group Name"  name="portgroup"></p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add New Interface</button>
    <br>

  </form>
</div>

</div>

    <footer class="footer">
            <p>&copy; Wookieware 2016</p>
        </footer>

{% endblock %}
