{% extends 'bootstrap/base.html' %}


{% block title %}Distriuted Cloud Networking{% endblock %}


{% include 'navbar.html' %}

{% block content %}

 <div class="jumbotron">
        <h3>Bulk load ACL's into domain</h3>
				<p class="lead"></p>
        </div>

<div class="container">

{% with messages = get_flashed_messages() %}

{% if messages %}

<ul class="flashes">
    {% for message in messages %}
    <p style=  "color:#ff0000;">
    <li>{{ message}}</li>
    {% endfor %}

</ul>

{% endif %}

{% endwith %}



    </div>

    <form action ="/return_to">

      dcn mgr added ACL's from csv file into the domain
      <hr>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Back to Main</button>
      <br>



    </form>


    <footer class="footer">
            <p>&copy; Wookieware 2016</p>
        </footer>

{% endblock %}
