{% extends 'bootstrap/base.html' %}


{% block title %}Distributed Cloud Network{% endblock %}


{% include 'navbar.html' %}

{% block content %}

 <div class="jumbotron">
				<h3>Bad News!</h3>
				<p class="lead"></p>
        </div>

<div class="container">

{% with messages = get_flashed_messages() %}

{% if messages %}

<ul class="flashes">
    {% for message in messages %}
    <p style=  "color:#ff0000;">
    <li>{{ message}}</li>
    {% endfor %}

</ul>

{% endif %}

{% endwith %}


    </div>


  <p>Failure in adding default domin to enterprise {{  var  }}

    <footer class="footer">
            <p>&copy; Wookieware 2016</p>
        </footer>

{% endblock %}
