{% extends 'bootstrap/base.html' %}


{% block title %}Bigswitch Cloud Fabric SDN{% endblock %}


{% include 'navbar.html' %}

{% block content %}

 <div class="jumbotron">
				<h3>Bigswitch Cloud Fabric SDN</h3>
				<p class="lead"></p>
        </div>

<div class="container">
  <!-- Single button -->

  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="show_tenant">Tenants</a></li>
    <li role="presentation"><a href="show_link">Link List</a></li>
    <li role="presentation"><a href="show_portgroup">Port Groups</a></li>
    <li role="presentation"><a href="show_switch">Switches</a></li>
    <li role="presentation"><a href="logout">Logout</a></li>
  </ul>
  <hr>

{% with messages = get_flashed_messages() %}

{% if messages %}

<ul class="flashes">
    {% for message in messages %}
    <p style=  "color:#ff0000;">
    <li>{{ message}}</li>
    {% endfor %}

</ul>

{% endif %}

{% endwith %}


    {%- for category, message in get_flashed_messages(with_categories = true) %}
       <div class = "alert alert-danger">
          {{ message }}
       </div>
    {%- endfor %}

  <div>

    <form action = "/csv_loader" method = "post">
       <button class="btn btn-lg btn-primary btn-block" type="submit">CSV Config Controller</button>


  </div>
</div>
    <footer class="footer">
            <p>&copy; Wookieware 2016</p>
        </footer>

{% endblock %}
