{% extends 'bootstrap/base.html' %}


{% block title %}Bigswitch Cloud Fabric SDN{% endblock %}


{% include 'navbar.html' %}

{% block content %}



<div class="container">

  <h3> Success </h3>

{% with messages = get_flashed_messages() %}

{% if messages %}

<ul class="flashes">
    {% for message in messages %}
    <p style=  "color:#ff0000;">
    <li>{{ message}}</li>
    {% endfor %}

</ul>

{% endif %}

{% endwith %}



<div>
  <h3> Action completed successfully! </h3>
  <form action = "/return_to" method = "get">

    <hr>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Back to Main</button>
    <br>

  </form>
</div>

  </div>
    <footer class="footer">
            <p>&copy; Wookieware 2016</p>
        </footer>

{% endblock %}
