"vrfs": {
      "vrf_default": {
        "BGP_Route": {
          "192.168.0.1%2F32/Static%20announcement": {
            "peer": "Static announcement",
            "prefix": "192.168.0.1/32"
          }
        },
        "bgp_routers": {
          "65001": {
            "router_id": [
              "10.2.0.1"
            ],
            "networks": [
              "192.168.0.1/32"
            ],
            "bgp_neighbors": {
              "10.2.0.2": {
                "is_peer_group": [
                  false
                ],
                "remote_as": [
                  65102
                ],
                "weight": [
                  0
                ]
              },
              "10.1.0.2": {
                "is_peer_group": [
                  false
                ],
                "remote_as": [
                  65101
                ],
                "weight": [
                  0
                ]
              }
            }
          }
        }
    }
}
